body {
  width: 1200px;
  padding: 20px;
  background-color: antiquewhite;
}

.name {
  margin: 20px;
  padding: ;
}

.img {
  margin-left: 20px;
  width: 200px;
  box-shadow: 6px 6px 10px 5px rgb(126, 121, 121);
}
